# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.procedural_anims.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\batuh\Desktop\procedural_anims\.idea\.idea.procedural_anims\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
